fujita_BIM4D5D_planner2/fujita_BIM4D5D_planner/Web References/currency_service/Currency0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/fujita_BIM4D5D_planner" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/fujita_BIM4D5D_planner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfcurrency_dtl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="currency_dtl" nillable="true" type="tns:currency_dtl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcurrency_dtl" nillable="true" type="tns:ArrayOfcurrency_dtl" />
  <xs:complexType name="currency_dtl">
    <xs:sequence>
      <xs:element minOccurs="0" name="basecurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rate" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="currency_dtl" nillable="true" type="tns:currency_dtl" />
</xs:schema>